<div class="container">

    <div class="mt-5 text-center">
        Data Save Successfully!
    </div>

    <div class="container text-center">
        <button class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Return to Home</button>
    </div>
</div>